<?xml version="1.0"?>
<configuration>
	<appSettings>

		<add key="StoneRepXMLFilename" value="stonerep.xml"/>
		<add key="StoneRepRootFolder" value=""/>
		<add key="RunFirstTime" value="1"/>
		<add key="ActivationKey" value=""/>


	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
